$color-primary: #F7F8FA;
$color-primary-dark: #DBF3F8;

@import "node_modules/@chatscope/chat-ui-kit-styles/themes/default/variables";
@import "node_modules/@chatscope/chat-ui-kit-styles/themes/default/main";

.cs-message__content {
  border-radius: 10px 10px 10px 0 !important;
}

.cs-message {
  margin-top: 1.5rem !important;
}

.cs-chat-container .cs-message-input {
  background-color: #DBF3F8;
  padding-top: 1rem;
  padding-bottom: .5rem;
}

.cs-message-input__content-editor-wrapper:focus-within {
  box-shadow: 0px 0px 4px 0px rgba(13, 192, 220, 0.5);
  outline: 1px solid rgba(13, 192, 220, 1);
}

.cs-message-input__tools {
  margin-left: .5rem;
  margin-right: 1rem;
}

.cs-button--send {
  color: #FFF;
  background-color: #D4450C;
  border-radius: 5px;
}

.cs-message-separator {
  color: #848484;
  margin: 1rem 0;
}

.cs-message-input__content-editor {
  font-size: 14px;
}

.cs-message-input__content-editor[data-placeholder]:empty:before {
  color: rgba(0, 0, 0, 0.5);
}
